<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>750257452147-iikoj6tb8dqu4hmdh5o9e7tkpv5dhv7o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.750257452147-iikoj6tb8dqu4hmdh5o9e7tkpv5dhv7o</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>750257452147-97cj6s9vsgj7ag0eg2kba9lbscma77gg.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB5siC9rznMXiaYegw5Jm3sqFNeG4iO6V4</string>
	<key>GCM_SENDER_ID</key>
	<string>750257452147</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.ios.Bdiskovered</string>
	<key>PROJECT_ID</key>
	<string>bdiskoveredapp</string>
	<key>STORAGE_BUCKET</key>
	<string>bdiskoveredapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:750257452147:ios:307f18af5e778db40fe606</string>
	<key>DATABASE_URL</key>
	<string>https://bdiskoveredapp-default-rtdb.firebaseio.com</string>
</dict>
</plist>